<ion-view title="Service Providers" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="serviceProviders-list1" class=" ">
            <ion-item ng-repeat = "item in ::serviceProvidersList track by $index" class="item-thumbnail-left">
                <img ng-src="{{::item.icon}}" />
                <h2>{{::item.name}}</h2>
            </ion-item>
        </ion-list>
        <button id="serviceProviders-button2" class=" button button-positive  button-block ">Submit</button>
    </ion-content>
</ion-view>
