<ion-view title="Service Providers" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="serviceProviders-list1" class=" ">
            <ion-item class="item-thumbnail-left dark  " id="serviceProviders-list-item1">
                <img src="img/PFOpqr3Tj2qdnOY6SR0Q_-WPN0EBo.jpg">
                <h2dark>Michelin</h2dark>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="serviceProviders-list-item2">
                <img src="img/NovdJAB8TV27I9XjMCCa_tvs-tyre-250x250.jpg">
                <h2>TVS</h2>
            </ion-item>
        </ion-list>
        <button id="serviceProviders-button2" class=" button button-positive  button-block ">Submit</button>
    </ion-content>
</ion-view>