<ion-view title="Service Order" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="serviceOrder-heading1" style="color:#000000;text-align:center;" class=" ">Bike Service Order</h2>
        <form id="serviceOrder-form1" class="list ">
            <label class="item item-input " id="serviceOrder-input1">
                <input type="text" placeholder="Customer Name">
            </label>
            <ion-toggle toggle-class="toggle-positive" id="serviceOrder-toggle1" name="office-service" class=" ">Office Service</ion-toggle>
        </form>
        <a ui-sref="tabsController.serviceProviders" id="serviceOrder-button1" class=" button button-balanced  button-block icon ion-android-cart ">Order Service</a>
    </ion-content>
</ion-view>